
footer{
    background-color: var(--darkColorSoft);
<<<<<<< HEAD
    // position: absolute;
=======
>>>>>>> cba5d35 (tg-7, tg-9, tg-10, tg-11 completadas)
    bottom: 0;
    width: 100%;
    color: var(--textColor);
    display: flex;
    justify-content: space-around;


    div{


        ul{
            list-style: none;
        }
    }
}
