
footer{
    background-color: var(--elementBackgroundColor);
    bottom: 0;
    width: 100%;
    color: var(--textColor);
    display: flex;
    justify-content: space-around;
    align-items: center;

    img{
        height: 8rem;
        cursor: pointer;
    }

    div{


        ul{
            list-style: none;
        }
    }
}
