<div class="task">

  <p  *ngIf="story == undefined && !errorGetStory">
    Loading story...
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</p>

  <app-story-card *ngIf="story != undefined" [story]="story" (editOutPut)="updateStory()" [type]="'inside'"></app-story-card>

  <app-divider></app-divider>
  <app-button [text]="'Add Task'" [icon]="'plus'" (buttonEvent)="addTask()"></app-button>

  <p *ngIf=" tasks.length == 0 && !errorGetTasks && !errorNoTasks">
    Loading tasks...
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </p>

    <ul *ngFor="let task of tasks" >
      
      <li *ngIf="task != undefined">
        <app-task-card
          [task]="task"
          [projectId]="projectId"
          [epicId]="epicId"
          [storyId]="storyId"
          (editOutPut)="updateTask(task)"
          (deleteOutPut)="deleteTask(task, 'Delete task')"
         ></app-task-card>
      </li>
    </ul>
    <app-label [text]="'There are no tasks in this story'" *ngIf="errorNoTasks"></app-label>
    <app-label [text]="'Error to get Epics'" *ngIf="errorGetTasks"></app-label>
</div>
