button {
    // width: 100%;
    height: 3rem;
    min-width: 3rem;
    padding:  0.5rem;

    // margin: 0.125rem;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;

    background: transparent;

    border-radius: 0.25rem;
    box-sizing: border-box;

    @media (prefers-color-scheme: light) {
        border-color: black;    
    }
    @media (prefers-color-scheme: dark) {  
        
        border-color: white;
        img{
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(200deg) brightness(107%) contrast(101%);
        }
    }
    &:active{
        border-color: rgba(172, 255, 47, 0.529);
    }

    .text{
        @media (prefers-color-scheme: light) {
                color: black;
        }
        @media (prefers-color-scheme: dark) {        
                // color: white;
        }
    }
}

button i::before {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0rem;
    
    background: transparent;
}
