button {
    // width: 100%;
    height: 3rem;
    min-width: 3rem;
    padding:  0.5rem;

    // margin: 0.125rem;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;

    
    border-radius: 0.25rem;
    box-sizing: border-box;
    
    @media (prefers-color-scheme: light) {
        color: var(--darkColor);
        border-color: var(--darkColor);
        background: var(--mediumColor);
    }
    @media (prefers-color-scheme: dark) {  
        
        border-color: var(--lightColor);
        color: var(--lightColor);
        background: var(--darkColorSoft);
       
    }
    &:active{
        border-color: rgba(172, 255, 47, 0.529);
    }

    
}

button i::before {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0rem;
    
    background: transparent;
}
