button {
    // width: 100%;
    height: 3rem;
    min-width: 3rem;
    padding:  0.5rem;

    // margin: 0.125rem;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;

    
    border-radius: 0.25rem;
    box-sizing: border-box;
    transition: 0.3s;
    
    color: var(--textColor);
    border-color: var(--textColor);
    background: var(--elementBackgroundColor);
    
    &:active{
        border-color: rgba(172, 255, 47, 0.529);
    }

    
}

button i::before {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0rem;
    
    background: transparent;
}

button:hover{
    filter: saturate(300%);
}
