<mat-card>
    <mat-card-header class="card-header">
        <mat-card-title [routerLink]="'/my-projects/'+projectId+'/'+epicId+'/'+story._id">{{ story.name
            }}</mat-card-title>
        <p class="ownerText">
            Owner: {{getOwner(story.owner)}}
        </p>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>
        <ul>
            Asigned to:
            <li *ngFor="let us of getUsersOfStory(story.assignedTo)">
                {{us.name.first}} {{us.name.last}}
            </li>
        </ul>
        <p>
            Description: {{ story.description }}
        </p>
    </mat-card-content>

    <div class="card-footer">
        <div class="dates">
            <p>Created at: {{ story.created | date : "shortDate" }}</p>
            <p>Due: {{ story.due | date : "shortDate" }}</p>
            <p>Status: {{ story.status }}</p>
        </div>
        <mat-card-actions>
            <button *ngIf="type !='inside'" mat-icon-button class="example-icon" (click)="deleteStory()">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" (click)="updateStory()">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-card-actions>
    </div>
</mat-card>