mat-card {
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--mediumColor);
    transition: 0.3s;
    width: 100%;

    mat-card-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        p{
            margin: 0;
            overflow-wrap: break-word;
        }
    }

    .title{
        width: 100%;
        padding: 0.25rem 0.5rem;
        margin: 0.25rem 0.5rem;
        border-radius: 0.25rem;
    }
    .title:hover{
        display: flex;
        transition: all 0.2s linear;
        border-radius: 0.25rem;
        cursor: pointer;
        flex-grow: 2;
    }
    mat-card-actions{
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        i{
            font-size: 1.5rem;
            border-radius: 0.5rem;
            padding:  0.25rem;
            cursor: pointer;
        }
    }


    @media (prefers-color-scheme: light) {
        color: black;
        i{
            color: black;
        }
        i:hover{
            transition: all 0.2s linear;
            transform: scale(1.1);
            color: white;
            background-color: var(--darkColorSoft);
        }
        .title:hover{
            color: white;
            background-color: var(--darkColorSoft );
        }
    }

    @media (prefers-color-scheme: dark) {
        color: white;
        i{
            color: white;
        }
        i:hover{
            transition: all 0.2s linear;
            transform: scale(1.1);
            color: black;
            background-color: var(--lightColorStrong);
        }
        .title:hover{
            color: black;
            background-color: var(--lightColorStrong);
        }
    }
    
    mat-divider{
        border-top-width: 0.25rem;
        border-radius: 0.25rem;
        width: 100%;
        align-self: center;
        border-color: var(--lightColorStrong);
    }
}

mat-card:hover {
    @media (prefers-color-scheme: light){
        filter: drop-shadow(10px 10px 5px #7fa0a0 );

    }
    @media (prefers-color-scheme: dark){

        filter: drop-shadow(10px 10px 5px #002121 );
    }
}

mat-card-title {
    font-size: 1.5rem;
    // inline-size: 36rem;
    // overflow-wrap: break-word;
    word-break: break-all;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0.25rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    padding-left: 0.8rem;
}

.ownerText,
li {
    font-size: 1rem;
}



.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
    p {
        font-size: 1rem;
    }
}

.dates {
    p {
        margin: 0;
    }
}