mat-card {
    margin: 16px;
    background-color: var(--elementBackgroundColor);
    transition: 0.3s;
}

mat-card:hover {
    @media (prefers-color-scheme: light){
        filter: drop-shadow(10px 10px 5px #7fa0a0 );

    }
    @media (prefers-color-scheme: dark){

        filter: drop-shadow(10px 10px 5px #002121 );
    }
}

mat-card-title {
    font-size: 1.3rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding-left: 0.8rem;
}

.ownerText,
li {
    font-size: 0.9rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 0.8rem;
    }
}

.dates {
    p {
        margin: 0;
    }
}