form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--mediumColor);
    width: 80%;
    border-radius: 0.5rem;
    .displayContent{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        
        .loginForm-buttons{
            display: flex;
            flex-direction: row;
            
            align-items: center;
            justify-content: center;
            button{
                width: 100%;
            }
        }
    }

}
.alert{
    color: red;
    padding: 0;
    margin: 0;
}