.mat-mdc-card{

    border-radius: 0.25rem;
    background-color: var(--mediumColor);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    max-width: 50rem;
    transition: 0.3s;
    margin: 1rem 0;
        
    @media (prefers-color-scheme: light) {
        color: black;
        i{
            color: black;
        }
        i:hover{
            transition: all 0.2s linear;
            transform: scale(1.1);
            color: white;
            background-color: var(--darkColorSoft);
        }
        mat-card-header:hover{
            color: white;
            background-color: var(--darkColorSoft );
        }
    }
    
    @media (prefers-color-scheme: dark) {
        color: white;
        i{
            color: white;
        }
        i:hover{
            transition: all 0.2s linear;
            transform: scale(1.1);
            color: black;
            background-color: var(--lightColorStrong);
        }
        mat-card-header:hover{
            color: black;
            background-color: var(--lightColorStrong);
        }
        
    }
    .mat-mdc-card-header{
        padding: 0.25rem 0.5rem;
        margin: 0.25rem 0.5rem;
        transition: all 0.2s linear;
        border-radius: 0.25rem;
        cursor: pointer;
    }
    .mat-mdc-card-content{
        padding: 0.25rem 0.5rem;
        margin: 0.25rem 0.5rem;
    }
    
    .mat-mdc-card-title {
        font-size: 1.5rem;   
        cursor: pointer;
        
    }
}
mat-divider{
    border-top-width: 0.25rem;
    border-radius: 0.25rem;
    width: 100%;
    align-self: center;
    border-color: var(--lightColorStrong);
}


mat-card:hover {
    @media (prefers-color-scheme: light){
        filter: drop-shadow(10px 10px 5px #7fa0a0 );

    }
    @media (prefers-color-scheme: dark){

        filter: drop-shadow(10px 10px 5px #002121 );
    }
}

.mat-mdc-card-title {
    font-size: 1.2rem;   
    cursor: pointer;
 
}




i{
    margin-left: 0.4rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding:  0.25rem;
    cursor: pointer;
}

.mat-mdc-card-subtitle {
    color: rgba(0, 0, 0, 0.54);
}

.members-container {
    display: flex;
    padding-bottom: 0.5rem;
    gap: 10px; 
    flex-wrap: wrap;
  }