.mat-mdc-card{
    margin: 2rem;
    padding: 0.2rem;
    border-radius: 1rem;
    background-color: var(--lightColorStrong);
}

.mat-mdc-card-header , .mat-mdc-card-content{
    padding-top: 0.3rem;
}

.mdc-card__actions{
    min-height: 0px;
}

i{
    margin-left: 0.4rem;
}