<mat-sidenav-container class="appContainer">
  <mat-sidenav #sidenav mode="side" [mode]="'over'" >
          <div class="flex-container">

            <div class="logo">App Logo</div>

            <div class=" navigation">
              <div class="nav-button">
                <app-label (click)="sidenav.toggle()" [text]="'HOME'" [pointerCursor]="true" [routerLink]="[ '/']" (click)="changeRutaActual('Home')"></app-label>
              </div>
              <div class="nav-button">
                <app-label (click)="sidenav.toggle()" [text]="'My Proyects'" [routerLink]="[ '/my-projects']" [pointerCursor]="true" (click)="changeRutaActual('My Projects')"></app-label>
              </div>
              <div class="nav-button">
                <app-label (click)="sidenav.toggle()" [text]="'My Stories'" [routerLink]="[ '/my-stories']" [pointerCursor]="true" (click)="changeRutaActual('My Stories')"></app-label>
              </div>

            </div>

            <div class="nav-button">
              <app-label (click)="sidenav.toggle()" [text]="'Settings'" [routerLink]="[ '/settings']" [pointerCursor]="true" (click)="changeRutaActual('Settings')"></app-label>
            </div>
          </div>
  </mat-sidenav>


  <mat-sidenav-content>

    
    <app-header (toggle)="sidenav.toggle()" [rutaActual]="rutaActual"></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>


  </mat-sidenav-content>
</mat-sidenav-container>