.container{
    color: var(--textColor);

}

.epic-card{
    background-color: var(--darkColorSoft);
}

app-generic-card{
    margin: 2rem;
}

ul{
    list-style: none;
    padding: 0;
}


a{
    color: var(--textColor);
}


