<div class="container">
  <app-generic-card [type]="'inside'" [epica]="epic" (editOutPut)="editDialog(epic)" (deleteOutPut)="deleteDialog(epic)"></app-generic-card>

  <app-divider></app-divider>
  <app-button
    [text]="'Add Task'"
    [icon]="'plus'"
    (buttonEvent)="addStory()"
  ></app-button>

  <div>
    <ul>
      <li *ngFor="let story of stories; let i = index">
          <app-story-card [story]="story" [projectId]="projectId" [epicId]="epicId" (editOutPut)="updateStory(story)" (deleteOutPut)="deleteStory(story)"></app-story-card>
      </li>
    </ul>
    <app-label [text]="'Loading stories...'" *ngIf="stories.length == 0 && !cantStoriesIsZero && !errorGetStories"></app-label>
    <app-label [text]="'No existen stories'" *ngIf="cantStoriesIsZero"></app-label>
    <app-label [text]="'Error to get stories'" *ngIf="errorGetStories"></app-label>
  </div>
</div>
