div{
    color: var(--textColor);
}

.title{
    margin-top: 2rem;
}

mat-accordion {
    margin: 2rem;
    

}

.expansion{
    background-color: var(--elementBackgroundColor);
    color: var(--textColor);
}