<mat-card [ngClass]="{'done' : task.done}">
      <mat-card-header >
        <mat-card-title>{{ task.name }}</mat-card-title>
        
      </mat-card-header>
      <mat-divider></mat-divider>

      
      <mat-card-content>
        <p>
          Description: {{ task.description }}
        </p>
      </mat-card-content>
    
      
      <mat-divider></mat-divider>
      <div class="footer">
        <div >
          <p>Created at: {{task.created | date : "shortDate" }}</p>
          <p>Due: {{ task.due | date : "shortDate" }}</p>
        </div>
        
        <mat-card-actions align="end">
          <i class="fa-regular fa-pen-to-square" (click)="editEvent()"></i>
          <i class="fa-regular fa-trash-can" (click)="deleteEvent()"></i>
        </mat-card-actions>
      </div>
    
  </mat-card>