

mat-card{
    margin: 16px;
    background-color: var(--elementBackgroundColor);
}

mat-card:hover {
    filter: drop-shadow(10px 10px 5px black );
}

a{
    color: var(--textColor);
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.done{
    text-decoration: line-through;
    filter: grayscale(80%);
}
