

mat-card{
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--mediumColor);
    transition: 0.3s;
    width: 100%;


    @media (prefers-color-scheme: light) {
        color: black;
        i{
            color: black;
        }
        i:hover{
            transition: all 0.2s linear;
            transform: scale(1.1);
            color: white;
            background-color: var(--darkColorSoft);
        }
        mat-card-header:hover{
            color: white;
            background-color: var(--darkColorSoft );
        }
    }

    @media (prefers-color-scheme: dark) {
        color: white;
        i{
            color: white;
        }
        i:hover{
            transition: all 0.2s linear;
            transform: scale(1.1);
            color: black;
            background-color: var(--lightColorStrong);
        }
        mat-card-header:hover{
            color: black;
            background-color: var(--lightColorStrong);
        }
    }

    mat-card-header{
        padding: 0.25rem 0.5rem;
        margin: 0.25rem 0.5rem;
        display: flex;
        align-items: center;
        mat-card-title{
            font-size: 1.5rem;
            margin: 0;
        }
    }
    mat-card-header:hover{
        transition: all 0.2s linear;
        border-radius: 0.25rem;
        // cursor: pointer;
    }

    i{
        font-size: 1.5rem;
        border-radius: 0.5rem;
        padding:  0.25rem;
        cursor: pointer;
    }

    mat-card-actions{
        display: flex;
     
        column-gap: 1rem;
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        p{
            margin: 0.5rem 1rem; 
        }
    }

    mat-divider{
        border-top-width: 0.25rem;
        border-radius: 0.25rem;
        width: 100%;
        align-self: center;
        border-color: var(--lightColorStrong);
    }
}

mat-card:hover {
    @media (prefers-color-scheme: light){
        filter: drop-shadow(10px 10px 5px #7fa0a0 );

    }
    @media (prefers-color-scheme: dark){

        filter: drop-shadow(10px 10px 5px #002121 );
    }
}

a{
    color: var(--textColor);
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.done{
    text-decoration: line-through;
    filter: grayscale(80%);
}
