<mat-card>
    <a routerLink="">
      <mat-card-header class="card-header">
        <h3>{{ task.name }}</h3>
        
      </mat-card-header>
      <mat-divider></mat-divider>

      <mat-card-content>
        <p>
          {{ task.description }}
        </p>
      </mat-card-content>
    </a>

    <div class="card-footer">
      <div class="dates">
        <p>Created at: {{task.created | date : "shortDate" }}</p>
        <p>Due: {{ task.due | date : "shortDate" }}</p>
        
      </div>
      <mat-card-actions>

        <mat-checkbox color="primary" (click)="doneToggle()" [checked]="task.done"></mat-checkbox>
        
        <button
          mat-icon-button
          class="example-icon"
          (click)="deleteEvent()"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-icon-button
          class="example-icon"
          (click)="editEvent()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </mat-card>