<form [formGroup] = "taskForm" mat-dialog-content (ngSubmit)="onSubmit()">
    <h1 mat-dialog-title>Add new task</h1>
    
        <mat-form-field color="primary">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name" required>
        </mat-form-field>

        
        <mat-form-field color="primary">
            <mat-label>Description</mat-label>
            <textarea matInput
              name=""
              id=""
              cols="30"
              rows="10"
              placeholder="" required
              formControlName="description"
            ></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Due</mat-label>
            <input matInput [matDatepicker]="due" formControlName="due">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="due"></mat-datepicker-toggle>
            <mat-datepicker #due></mat-datepicker>
        </mat-form-field>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button mat-dialog-close cdkFocusInitial type="submit">Submit</button>
    </mat-dialog-actions>
</form>