mat-card{
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: var(--mediumColor);
    
    @media (prefers-color-scheme: light) {
        color: black;
        i{
            color: black;
        }
        i:hover{
            transition: all 0.2s linear;
            transform: scale(1.1);
            color: white;
            background-color: var(--darkColorSoft);
        }
        mat-card-header:hover{
            color: white;
            background-color: var(--darkColorSoft );
        }
    }

    @media (prefers-color-scheme: dark) {
        color: white;
        i{
            color: white;
        }
        i:hover{
            transition: all 0.2s linear;
            transform: scale(1.1);
            color: black;
            background-color: var(--lightColorStrong);
        }
        mat-card-header:hover{
            color: black;
            background-color: var(--lightColorStrong);
        }
        
    }
    
    mat-divider{
        border-top-width: 0.25rem;
        border-radius: 0.25rem;
        width: 100%;
        align-self: center;
        border-color: var(--lightColorStrong);
    }
    mat-card-title{    
        font-size: 1.5rem;
    }
    
    mat-card-header{
        padding: 0.25rem 0.5rem;
        margin: 0.25rem 0.5rem;
    }
    mat-card-header:hover{
        transition: all 0.2s linear;
        border-radius: 0.25rem;
        cursor: pointer;
    }
    mat-card-content{
        p{
            font-size: 1rem;
        }
    }
    
    i{
        font-size: 1.5rem;
        border-radius: 0.5rem;
        padding:  0.25rem;
        cursor: pointer;
    }
    
    mat-card-actions{
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
    }
}

mat-card:hover {
    @media (prefers-color-scheme: light){
        filter: drop-shadow(10px 10px 5px #7fa0a0 );

    }
    @media (prefers-color-scheme: dark){

        filter: drop-shadow(10px 10px 5px #002121 );
    }
}
