.container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 1rem;
    width: 42rem;
    padding: 0;
    align-items: center;
    justify-content: center;

    @media (max-width: 750px) {
        width: 90dvw;
    }
    app-divider,app-generic-card, app-story-card, ul{
        width: 100%;
    }
}
.epic-card{
    background-color: var(--darkColorSoft);
}

mat-card{
    margin: 16px;
    background-color: var(--elementBackgroundColor);
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

}

a{
    color: var(--textColor);
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dates{
    

    p{
        margin: 0;
    }
}